
aurochs-client/target/classes/META-INF/maven/cn.aurochs.www/aurochs-client/pom.properties
aurochs-client/target/classes/META-INF/maven/cn.aurochs.www/aurochs-client/pom.properties
aurochs-common/target/classes/META-INF/maven/cn.aurochs.www/aurochs-common/pom.properties
aurochs-server/target/classes/META-INF/maven/cn.aurochs.www/aurochs-server/pom.properties
aurochs-common/target/classes/META-INF/maven/cn.aurochs.www/aurochs-common/pom.properties
aurochs-client/target/classes/META-INF/maven/cn.aurochs.www/aurochs-client/pom.properties
aurochs-common/target/classes/META-INF/maven/cn.aurochs.www/aurochs-common/pom.properties
aurochs-server/target/classes/META-INF/maven/cn.aurochs.www/aurochs-server/pom.properties
